*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #fdf5ec;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

div{
    border: 2px solid black;
}

header{
    border-bottom: 2px solid black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 280px 1fr;

    gap: 10px;
}

h2{
    font-family: 'Oswald', sans-serif;
}

ul{
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
}

li{
    font-family: 'DM Sans', sans-serif;
    margin-top: 5px;
}
svg{
    height: 25px;
    width: 25px;
}
.web-screen{
    
    width: 70%;
    height: 90%;

    border: 2px solid black;

    border-radius: 20px;

    display: grid;
    grid-template-rows: 30px 1fr;
    
}

.balls{
    background-color: #252525;
    width: 20px;
    height: 20px;

    border-radius: 50%;

    margin-right: 10px;
}

.clean{
    background-color: transparent;
}

.profile-pic{
    height: 400px;

    border-radius: 20px;

    margin: 20px;
}

.profile-pic > header{
    height: 30px;
}

.profile-pic > h2{
margin-left: 10px;
}

.profile-pic > img{
    width: 120px;
    display: block;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
}